.item {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 500px;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 16px;
    background-color: #eeeeee;

    border: 1px solid #eeeeee;
    box-sizing: border-box;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.item:nth-child(2n) {
    margin-right: 0;
}

.item:nth-last-child(-n + 2) {
    margin-bottom: 0; 
}

.title {
    font-weight: 700;
}

.button {
    text-align: center;
}